section6/node_modules/
section6/www/
section6/resources/
*.swp
section6/*.js

section6/*.log
section6/*.tmp
section6/*.tmp.*
section6/log.txt
section6/npm-debug.log*

section6/.tmp/
section6/.versions/
section6/coverage/
section6/dist/
section6/tmp/
section6/temp/
section6/hooks/
section6/platforms/
section6/plugins/
section6/plugins/android.json
section6/plugins/ios.json
section6/www/
section6/$RECYCLE.BIN/

section6/.DS_Store
section6/Thumbs.db
section6/UserInterfaceState.xcuserstate
